# initialization script
# Pieces taken from @nathanchance, @anarkia1976, @franciscofranco, @frap129, @xcnathan32, and @flar2

on boot
    # disable big cores to try to prevent BLOD
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/foreground/boost/cpus 0-3
    write /dev/cpuset/background/cpus 3
    write /dev/cpuset/system-background/cpus 2-3
    write /dev/cpuset/top-app/cpus 0-3

on late-fs
    # boot time fs tune
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0/queue/scheduler cfq
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/nr_requests 256

on property:sys.boot_completed=1
    # allows FKUpdater to know this feature is supported
    setprop fku.profiles 1

    # according to Qcom this legacy value improves first launch latencies
    # stock value is 512k
    setprop dalvik.vm.heapminfree 2m

    # end boot time fs tune
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/block/mmcblk0/queue/nr_requests 128
    write /sys/block/mmcblk0/queue/iostats 1

    # Import Spectrum profiles
    import /init.spectrum.rc

    chown system system /sys/devices/platform/kcal_ctrl.0/kcal
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_cont
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_hue
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_invert
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_sat
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_val

    chown system system /sys/class/devfreq/fdb00000.qcom,kgsl-3d0/governor
    chown system system /sys/class/devfreq/fdb00000.qcom,kgsl-3d0/max_freq
    chown system system /sys/class/devfreq/fdb00000.qcom,kgsl-3d0/min_freq

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor

    # re-enable retention idle state
    # fix-up is merged in the Kernel
    write /sys/module/lpm_levels/system/a53/cpu0/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a53/cpu1/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a53/cpu2/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a53/cpu3/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a57/cpu4/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a57/cpu5/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a57/cpu6/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a57/cpu7/retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a53/a53-l2-retention/idle_enabled 1
    write /sys/module/lpm_levels/system/a57/a57-l2-retention/idle_enabled 1

    # Disable some wakelocks (Electron Kernel)
    write /sys/module/wakeup/parameters/enable_wlan_rx_wake_ws 0
    write /sys/module/wakeup/parameters/enable_wlan_ctrl_wake_ws 0
    write /sys/module/wakeup/parameters/enable_wlan_wake_ws 0
    write /sys/module/wakeup/parameters/enable_msm_hsic_ws 0
    write /sys/module/wakeup/parameters/enable_qcom_rx_wakelock_ws 0
    write /sys/module/wakeup/parameters/enable_netlink_ws 0
    write /sys/module/wakeup/parameters/enable_ipa_ws 0
    write /sys/module/wakeup/parameters/enable_timerfd_ws 0
    write /sys/module/bcmdhd/parameters/wlrx_divide 8
    write /sys/module/bcmdhd/parameters/wlctrl_divide 8

    # I/O - FK defaults, set in spectrum profiles
    # write /sys/block/mmcblk0/queue/rq_affinity 0
    # write /sys/block/mmcblk0/queue/add_random 0
    # write /sys/block/mmcblk0/bdi/min_ratio 5
    # write /sys/block/mmcblk0/queue/read_ahead_kb 128

    # Start power tweaks
    exec u:r:su:s0 root root -- /init.supolicy.sh
    exec u:r:magisk:s0 root root -- /init.supolicy.sh
    exec u:r:supersu:s0 root root -- /init.supolicy.sh	

    exec u:r:init:s0 -- /init.special_power.sh
    exec u:r:su:s0 root root -- /init.special_power.sh
    exec u:r:magisk:s0 root root -- /init.special_power.sh
    exec u:r:supersu:s0 root root -- /init.special_power.sh
    
    # ksm
    write /sys/kernel/mm/ksm/sleep_millisecs 1500
    write /sys/kernel/mm/ksm/pages_to_scan 256
    write /sys/kernel/mm/ksm/deferred_timer 1
    write /sys/kernel/mm/ksm/run 0

    # big.LITTLE scheduler tweaks for performance (Electron kernel)
    # write /proc/sys/kernel/sched_upmigrate_min_nice 8  # default 9
    # write /proc/sys/kernel/sched_upmigrate 98          # default 99
    # write /proc/sys/kernel/sched_downmigrate 85        # default 96
    # write /sys/devices/system/cpu/cpu0/sched_mostly_idle_freq 96000 # default 0
    # write /sys/devices/system/cpu/cpu0/sched_mostly_idle_load 25    # default 20
    # write /sys/devices/system/cpu/cpu0/sched_mostly_idle_nr_run 6   # default 3

    # wake gestures - dt2w Electron Kernel
    chown system system /sys/android_touch/doubletap2wake
    chmod 664 /sys/android_touch/doubletap2wake
    write /sys/android_touch/doubletap2wake 2

    # misc
    # FK defaults - set per spectrum profile
    # write /sys/class/timed_output/vibrator/vmax_mv_strong 1250
    # write /sys/module/lowmemorykiller/parameters/minfree "18432,23040,27648,32256,36864,46080"
    write /proc/sys/vm/swappiness 100                  # default 60
    write /sys/module/msm_thermal/core_control/enabled 1
    write /sys/module/msm_thermal/parameters/enabled 0
    write /sys/devices/virtual/misc/soundcontrol/volume_boost 20
    write /sys/module/mdss_fb/parameters/backlight_dimmer Y
    write /sys/kernel/fp_boost/enabled 1
    write /sys/module/sync/parameters/fsync_enabled N
